@* @page "/confirmacion"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Confirmación de Reserva</h3>

<p>¡Reserva realizada con éxito!</p>

<h4>Historial de Eventos Reservados:</h4>
        @foreach (var reserva in reservas)
        {
            <div class="reserva-card">
                <h5>@reserva.cantidadBoletos</h5>
                <p>@reserva.precio</p>
            </div>
        }

@code {
    private List<BoletoDto> reservas;

    protected override async Task OnInitializedAsync()
    {
        RealizarReserva();   
    }

    private async Task RealizarReserva()
    {
      
      reservas = await Http.GetFromJsonAsync<List<BoletoDto>>("/listboleto/boleto");
        
    }
    private async Task Reservar()
    {
        
        NavigationManager.NavigateTo("/boletos/{eventoId}");
       
    }
}
 *@
 