@page "/"

<PageTitle>Index</PageTitle>

<div class="login-container">
    <div class="login-card">
<h1>Bienvenidos a Event Planning</h1>

Favor de Iniciar Seccion en Event Planning
    </div>
</div>

